.button{
    cursor: pointer;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    border-radius: 8px;
    font-weight: 400;
    background-color: var(--blue);
    margin-top: 22px;
    color: var(--white);
    font-size: 20px;
    border: 2px solid var(--blue);
    transition: all 150ms;
    &:hover{
        background-color: var(--white);
        color: var(--font-color);
        border: 2px solid var(--green);
    }
}