.frame{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    .base_data_row{
        display: flex;
        gap: 100px;
        span{
            font-size: 18px;
        }
    }
    .table{
        margin-top: 20px;
    }
    th {
        text-align: left;
        padding: 8px;
        text-align: center;
    }
    
    td {
        border-right: 1px solid var(--border-color);
        border-bottom: 1px solid var(--border-color);
        padding: 8px;
        // width: 20%; 
        display: table-cell;
        text-align: center;
        vertical-align: top;
        &:last-child{
            border-right: none;
            display: table-cell;
            text-align: left;
            vertical-align: top;
        }
        table{
            width: 90%;
               td{
                text-align: center !important;
               }
        }
    }
    
    ul {
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 5px;
        display: flex;
        margin-top: 20px;
    }
    
    li {
        margin-bottom: 4px;
        margin-top: 4px;
    }
    
    strong {
        font-weight: bold;
    }
    .method_name{
        font-size: 18px;
    }
    tr{
    }
    .steps{
        display: flex;
        margin-top: 10px;
    }
}
.loading{
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    font-size: 24px;
}