.block{
    display: flex;
    flex-direction: column;
    gap: 5px;
    span{
        font-size: 16px;
    }
    input{
        padding-left: 17px;
        height: 46px;
        background-color: var(--white);
        border: 1px solid var(--border-color);
        border-radius: 8px;
        color: var(--font-color);
    }
    
}